In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [5]:
df = pd.read_csv('books.csv')
df.head()

,link,title,imagelink,rating,price,availability
0,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,https://books.toscrape.com/media/cache/2c/da/2...,Three,£51.77,In stock
1,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,https://books.toscrape.com/media/cache/26/0c/2...,One,£53.74,In stock
2,https://books.toscrape.com/catalogue/soumissio...,Soumission,https://books.toscrape.com/media/cache/3e/ef/3...,One,£50.10,In stock
3,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,https://books.toscrape.com/media/cache/32/51/3...,Four,£47.82,In stock
4,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,https://books.toscrape.com/media/cache/be/a5/b...,Five,£54.23,In stock

In [26]:
data =[]
for link in tqdm(df['link']):
    res = requests.get(link)
    soup = BeautifulSoup(res.text , 'html.parser')
    book_type= soup.find('ul', class_= 'breadcrumb').find_all('a',)[2].text
    upc =soup.find('table', class_ = 'table table-striped').find_all('td')[0].text
    price_x=soup.find('table', class_ = 'table table-striped').find_all('td')[2].text
    price_i=soup.find('table', class_ = 'table table-striped').find_all('td')[3].text
    tax=soup.find('table', class_ = 'table table-striped').find_all('td')[4].text
    qn =soup.find('table', class_ = 'table table-striped').find_all('td')[5].text
    reviews=  soup.find('table', class_ = 'table table-striped').find_all('td')[6].text
    data.append([book_type , price_x, price_i, tax , qn , reviews])

100%|██████████| 1000/1000 [24:46<00:00,  1.49s/it]

In [29]:
df =pd.DataFrame(data , columns=['category' , 'price_e_tax', 'price_i_tax', 'tax','quantity' , 'reviews'])
df.head()

,category,price_e_tax,price_i_tax,tax,quantity,reviews
0,Poetry,Â£51.77,Â£51.77,Â£0.00,In stock (22 available),0
1,Historical Fiction,Â£53.74,Â£53.74,Â£0.00,In stock (20 available),0
2,Fiction,Â£50.10,Â£50.10,Â£0.00,In stock (20 available),0
3,Mystery,Â£47.82,Â£47.82,Â£0.00,In stock (20 available),0
4,History,Â£54.23,Â£54.23,Â£0.00,In stock (20 available),0

In [30]:
df.to_csv('data.csv', index=False)