In [1]:
import pandas as pd

df_1 = pd.read_csv('books.csv')
df_2 = pd.read_csv('data.csv')

In [2]:
df_1.head()

,link,title,imagelink,rating,price,availability
0,https://books.toscrape.com/catalogue/a-light-i...,A Light in the Attic,https://books.toscrape.com/media/cache/2c/da/2...,Three,£51.77,In stock
1,https://books.toscrape.com/catalogue/tipping-t...,Tipping the Velvet,https://books.toscrape.com/media/cache/26/0c/2...,One,£53.74,In stock
2,https://books.toscrape.com/catalogue/soumissio...,Soumission,https://books.toscrape.com/media/cache/3e/ef/3...,One,£50.10,In stock
3,https://books.toscrape.com/catalogue/sharp-obj...,Sharp Objects,https://books.toscrape.com/media/cache/32/51/3...,Four,£47.82,In stock
4,https://books.toscrape.com/catalogue/sapiens-a...,Sapiens: A Brief History of Humankind,https://books.toscrape.com/media/cache/be/a5/b...,Five,£54.23,In stock

In [3]:
df_2.head()

,category,price_e_tax,price_i_tax,tax,quantity,reviews
0,Poetry,Â£51.77,Â£51.77,Â£0.00,In stock (22 available),0
1,Historical Fiction,Â£53.74,Â£53.74,Â£0.00,In stock (20 available),0
2,Fiction,Â£50.10,Â£50.10,Â£0.00,In stock (20 available),0
3,Mystery,Â£47.82,Â£47.82,Â£0.00,In stock (20 available),0
4,History,Â£54.23,Â£54.23,Â£0.00,In stock (20 available),0

In [4]:
df = pd.DataFrame()

In [5]:
df['Title']= df_1['title']
df['category']      = df_2['category']
df['price_e_tax']   = df_2['price_e_tax']
df['price_i_tax']   = df_2['price_i_tax']
df['tax']           = df_2['tax']
df['rating']        = df_1['rating']
df['reviews']       = df_2['reviews']
df['quantity']      = df_2['quantity']
df['stock']         = df_1['availability']

df['book_link']     = df_1['link']
df['img_link']      = df_1['imagelink']

In [6]:
df.head()

,Title,category,price_e_tax,price_i_tax,tax,rating,reviews,quantity,stock,book_link,img_link
0,A Light in the Attic,Poetry,Â£51.77,Â£51.77,Â£0.00,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Historical Fiction,Â£53.74,Â£53.74,Â£0.00,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Fiction,Â£50.10,Â£50.10,Â£0.00,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Mystery,Â£47.82,Â£47.82,Â£0.00,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,History,Â£54.23,Â£54.23,Â£0.00,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [7]:
df.to_csv('final.csv', index= False)